 /* CREATE BLOG */
 .create-item {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 20px #0000001b;
  }
  
  .create-item_form {
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    flex-wrap: wrap;
  }
  
  .create-item_form_content {
    display: flex;
    flex-direction: row;
    column-gap: 30px;
    flex-wrap: wrap;
  }
  
  .create-item_form_actions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    flex: 1;
    row-gap: 10px;
    column-gap: 20px;
  }
  
  .form-action {
    font-family: "Cairo", sans-serif;
    min-width: 336px;
    height: 50px;
    padding: 10px 0px;
    border-radius: 10px;
    border-color: transparent;
    font-weight: bold;
  }
  
  .done-action {
    background-color: #1d968d;
    color: white;
  }
  
  .create-item_left {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-between;
    row-gap: 20px;
  }
  
  .create-item_right {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }
  
  .form-input {
    border: 1px solid #b4b6c4;
    border-radius: 6px;
    height: 50px;
    padding-left: 20px;
    font-family: "Cairo", sans-serif;
    min-width: 150px;
    outline: transparent;
  }
  
  .file-input {
    padding: 10px;
    line-height: 0;
    vertical-align: middle;
    height: 100%;
  }
  
  .form-select {
    border: 1px solid #b4b6c4;
    border-radius: 6px;
    height: 50px;
    outline: none;
    padding-left: 20px;
    font-family: "Cairo", sans-serif;
  }
  
  .form-textarea {
    border: 1px solid #b4b6c4;
    border-radius: 6px;
    outline: none;
    font-family: "Cairo", sans-serif;
    height: 100%;
    resize: none;
    padding: 15px;
    flex: 1;
  }
  
  @media only screen and (max-width: 1280px) {
    .form-action {
      flex: 1;
    }
  
    .create-item_left {
      row-gap: 20px;
      margin-bottom: 20px;
    }
  
    .content-wrapper > header {
      display: flex;
      flex-direction: row;
      font-size: 24px;
      font-weight: 500;
      flex-wrap: wrap;
      row-gap: 10px;
      justify-content: center;
    }
  
    .content-wrapper > header > section > span:first-of-type {
      color: black;
      font-size: 1em;
    }
  
    .content-wrapper > header > section > span:last-of-type {
      color: #1d968d;
      font-size: 1em;
    }
  
    .search-input {
      flex: 1;
    }
  }
  